.rigth-blok{
    width: 70%;
    height: 100vh;
    background-color: snow;
.blok-info{
    width: 45%;
    height: 300px;
    background-color: gray;

.blok-text{
    font-size: 50px;
    color: black;
   
}

}

}