.g-justify-evenly{
    display: flex;
    justify-content: space-evenly;
}
.g-flex-direction{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.g-flex{
    display: flex;
}
.g-justify-align-centr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}